version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "@types/node"
    versions:
    - 14.14.24
    - 14.14.28
    - 14.14.30
    - 14.14.32
    - 14.14.34
    - 14.14.36
    - 14.14.39
