/.idea/
/node_modules/
/dist/
/coverage/
/.nyc_output/
/package-lock.json
/test/tmp/
/test_output.txt
trash_bin/
/.antigravitycli/
/release/
packaging/windows/staging/
/yarn-error.log
/test/asset/adf_bytes_scan_height_fixed.jpg
/test/asset/sample.pdf
/test/asset/sample1.jpg
/test/asset/sample2.jpg
/.yarn/install-state.gz
/rust-version/
/protocol_doc/capture/tools/driver-store/
/protocol_doc/capture/tools/hp-mitm-capture/
