/.idea/
/node_modules/
/dist/
/coverage/
/.nyc_output/
/package-lock.json
/yarn-error.log
/test/asset/adf_bytes_scan_height_fixed.jpg
/test/asset/sample.pdf
/test/asset/sample1.jpg
/test/asset/sample2.jpg
